.card-content {
    display: flex;
    flex-direction: column;
}

.card-content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

.card-iden{
    font-size: 16px !important;
    margin: 5px 0 !important;
    font-weight: 600;
}

.key-highlight{
    color: #f0c674;
    font-weight: 600;
}

.value-gap{
    margin-left: 10px;
}

.card-header{
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* For longer words that overflow */
}

.card-content{
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* For longer words that overflow */
}